## Name: Mrunal Bokil

#### Firstly the code cleans the dataset by removing NAs and converts categorical variables to binary
#### Below are some of the data tranformations required for any kind of data. This code is designed to choose the best tranformation by checking its correlation factor with the target variable

In [15]:
import math
from math import pow
import operator

In [16]:
class variableTreatment():
    
    def drop_nan_col(self, df, threshold): 
        
        drops = []
        col = df.columns
        for col in df.columns:
            if(((len(df) - df[col].count())/len(df)) >= threshold):
                print((len(df) - df[col].count())/len(df))
                drops.append(col)
        df.drop(drops, axis = 1, inplace = True)
        return(df)

    
    
    def drop_zero_var_col(self, df):
        
        drops = []
        numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
        col = df.columns
        for col in df.select_dtypes(include = numerics):
            if((df.loc[:,col].var()) == 0):
                drops.append(col)
        df.drop(drops, axis = 1, inplace = True)
        return(df)
        
    
        
        
    def drop_zero_car_col(self, df):
        
        drops = []
        numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
        col = df.columns
        for col in df.select_dtypes(exclude = numerics):
            if(df[col].nunique() == 1):
                drops.append(col)
        df.drop(drops, axis = 1, inplace = True)
        return(df)
    
        
        
        
    def drop_high_levels(self, df, threshold):
        
        drops = []
        numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
        col = df.columns
        for col in df.select_dtypes(exclude = numerics):
            if(df[col].nunique() >= threshold):
                drops.append(col)
        df.drop(drops, axis = 1, inplace = True)
        return(df)
    

    

    def replace_missing(self, df, num_val):
        
        numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
        col = df.columns
        for col in df.select_dtypes(include = numerics):
            df[col].fillna((df[col].median()), inplace = True)
        for col in df.select_dtypes(exclude = numerics):
            df[col].fillna(value = 'unknown', inplace = True)
        return(df)
    
    
    
    
    def encode_target(self, df, target_name):
        
        numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
        col = target_name
        print(col)
        for col in df.select_dtypes(exclude = numerics):
            df[target_name] = df[target_name].astype('category')
            df[target_name] = df[target_name].cat.codes
        return df
        
        
    
    def transform(self, df, label_name):
        
        numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
        col = df.columns
    
        for col in df.select_dtypes(include = numerics):
            corr = {'asis':0, 'log':0, 'exp':0, 'sqrt':0, 'pow2':0}
            if (col != label_name):
                print(col)
                corr['asis'] = abs(np.corrcoef(df[col], df[label_name])[1][0])
                #print(corr['asis'])
                corr['log'] = abs(np.corrcoef(np.log(df[col] + 0.00001), df[label_name])[1][0])
                #print(corr['log'])
                corr['exp'] = abs(np.corrcoef(np.exp(df[col] + 0.00001), df[label_name])[1][0])
                #print(corr['exp'])
                corr['sqrt'] = abs(np.corrcoef(np.sqrt(df[col] + 0.00001), df[label_name])[1][0])
                #print(corr['sqrt'])
                corr['pow2'] = abs(np.corrcoef(((df[col]+0.00001)**2), df[label_name])[1][0])
                #print(corr['pow2'])
                
                trans_op = max(corr.items(), key=operator.itemgetter(1))[0]
                
                if(trans_op != 'asis'):
                    if(trans_op == 'log'):
                            df[col] = np.log(df[col] + 0.00001)
                            print("log performed")
                    if(trans_op == 'sqrt'):
                            df[col] = np.sqrt(df[col] + 0.00001)
                            print("sqrt performed")
                    if(trans_op == 'exp'):
                            df[col] = np.log(df[col] + 0.00001)
                            print("exp performed")
                    if(trans_op == 'pow2'):
                            df[col] = np.sqrt(df[col] + 0.00001)
                            print("pow2 performed")
                else:
                    print("asis performed")
        return(df)
            
        
                    
    def create_dummies(self, df, label_name):
        
        numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
        col = target_name
        print(col)
        for col in df.select_dtypes(exclude = numerics):
            dummy = pd.get_dummies(df, columns=[col])
            df = df.merge(dummy, left_index = True, right_index = True)
        return(df)

__TEST CASES__

In [17]:
import pandas as pd
import numpy as np
df = pd.read_excel('ABCD.xlsx')

In [18]:
# create and instance from the class variableTreatment
VT = variableTreatment()

In [19]:
VT

In [20]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,appet,pe,ane,class,yls,ccm,mls,lev_a,lev_b,l_x
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,good,no,no,ckd,1.0,2.0,3,a1,b1,d
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,118.0,...,good,no,no,ckd,5.0,NaN,3,a2,b2,d
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,poor,no,yes,ckd,NaN,NaN,3,a3,b3,d
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,poor,yes,yes,ckd,NaN,NaN,3,a4,b4,d
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,good,no,no,ckd,NaN,3.0,3,a5,b5,d

__Test case 1: The below code should drop ccm and yls__

In [21]:
VT.drop_nan_col(df, 0.9).head()

0.9844961240310077
0.9819121447028424

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,dm,cad,appet,pe,ane,class,mls,lev_a,lev_b,l_x
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,yes,no,good,no,no,ckd,3,a1,b1,d
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,118.0,...,no,no,good,no,no,ckd,3,a2,b2,d
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,yes,no,poor,no,yes,ckd,3,a3,b3,d
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,no,no,poor,yes,yes,ckd,3,a4,b4,d
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,no,no,good,no,no,ckd,3,a5,b5,d

In [22]:
#len(df) - df['yls'].count()
#df.dtypes
#df['l_x'].nunique()
#df[df['class'] == 1]

__Test case 2: The lines below should drop l_x and mls__

In [23]:
VT.drop_zero_var_col(df).head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,htn,dm,cad,appet,pe,ane,class,lev_a,lev_b,l_x
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,yes,yes,no,good,no,no,ckd,a1,b1,d
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,118.0,...,no,no,no,good,no,no,ckd,a2,b2,d
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,no,yes,no,poor,no,yes,ckd,a3,b3,d
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,yes,no,no,poor,yes,yes,ckd,a4,b4,d
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,no,no,no,good,no,no,ckd,a5,b5,d

In [24]:
VT.drop_zero_car_col(df).head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,rbcc,htn,dm,cad,appet,pe,ane,class,lev_a,lev_b
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,5.2,yes,yes,no,good,no,no,ckd,a1,b1
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,118.0,...,4.8,no,no,no,good,no,no,ckd,a2,b2
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,NaN,no,yes,no,poor,no,yes,ckd,a3,b3
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,3.9,yes,no,no,poor,yes,yes,ckd,a4,b4
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,4.6,no,no,no,good,no,no,ckd,a5,b5

__Test case 3: The lines below should drop lev_a and lev_b__

In [25]:
VT.drop_high_levels(df, 100).head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,118.0,...,38.0,6000.0,4.8,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd

__Test case 4: You should replace missing values with the median__

In [26]:
VT.replace_missing(df, 'median').head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,unknown,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,unknown,normal,notpresent,notpresent,118.0,...,38.0,6000.0,4.8,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,4.8,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd

__Test case 5: You should encode ckd as 0 and notckd as 1 (the opposite will work too just remember how you encoded it)__

In [27]:
VT.encode_target(df, 'class').head()

class

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,unknown,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,0
1,7.0,50.0,1.020,4.0,0.0,unknown,normal,notpresent,notpresent,118.0,...,38.0,6000.0,4.8,no,no,no,good,no,no,0
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,4.8,no,yes,no,poor,no,yes,0
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,0
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,0

__Test case 6: You should get the best transformations__

In [28]:
VT.transform(df, 'class').head()

age
pow2 performed
bp
asis performed
sg
exp performed
al
log performed
su
log performed
bgr
log performed
bu
sqrt performed
sc
log performed
sod
pow2 performed
pot
asis performed
hemo
pow2 performed
pcv
pow2 performed
wbcc
asis performed
rbcc
pow2 performed

C:\Users\mruna\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3183: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
C:\Users\mruna\Anaconda3\lib\site-packages\ipykernel_launcher.py:96: RuntimeWarning: overflow encountered in exp
C:\Users\mruna\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3103: RuntimeWarning: invalid value encountered in subtract
  X -= avg[:, None]

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,6.928204,80.0,0.019812,0.000010,-11.512925,unknown,normal,notpresent,notpresent,4.795791,...,6.633250,7800.0,2.280353,yes,yes,no,good,no,no,0
1,2.645753,50.0,0.019812,1.386297,-11.512925,unknown,normal,notpresent,notpresent,4.770685,...,6.164415,6000.0,2.190893,no,no,no,good,no,no,0
2,7.874009,80.0,0.009960,0.693152,1.098616,normal,normal,notpresent,notpresent,6.047372,...,5.567765,7500.0,2.190893,no,yes,no,poor,no,yes,0
3,6.928204,70.0,0.004997,1.386297,-11.512925,normal,abnormal,present,notpresent,4.762174,...,5.656855,6700.0,1.974844,yes,no,no,poor,yes,yes,0
4,7.141429,80.0,0.009960,0.693152,-11.512925,normal,normal,notpresent,notpresent,4.663439,...,5.916081,7300.0,2.144763,no,no,no,good,no,no,0